.landing_page {
    box-sizing: border-box;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.landing_page h1 img {
    height: 6rem;
    width: auto;
    z-index: 1;
}

.card {
    width: 26rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.landing_page .card img {
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
    object-fit: cover;
}

#landingPg_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

#landingPg_cards h5,
#landingPg_cards p {
    text-align: center;
    font-size: larger;
}

#landingPg_cards li {
    text-align: justify;
    font-size: large;
    list-style: circle;
}

.btns_container {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 400px) {
    .landing_page img {
        height: 150px;
        width: 20rem;
        margin: auto;
        text-align: center;
        object-fit: cover;
    }
}