.landing_page {
    box-sizing: border-box;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
}

.landing_page h1 img {
    height: 6rem;
    width: auto;
    z-index: 1;
}

.card {
    width: 26rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.landing_page .card img {
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
    object-fit: cover;
}

#landingPg_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

#landingPg_cards h5,
#landingPg_cards p {
    text-align: center;
    font-size: larger;
}


.btns_container {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 400px) {
    .landing_page img {
        height: 150px;
        width: 20rem;
        margin: auto;
        text-align: center;
        object-fit: cover;
    }
}

/* falling sakura effect */

.sakura {
    position: fixed;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    padding: 0;
    margin: 0;
    width: 99.6vw;
    top: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -9;

}

.sakura li {
    position: absolute;
    list-style: none;
    top: -50px;
    background: #df7faf;
    border-radius: 0% 70%;
    animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}


@keyframes fall {
    to {
        top: 100%;
    }
}

@keyframes sway1 {
    from {
        transform: translateX(0px) rotate(0deg);
    }

    to {
        transform: translateX(200px) rotate(-45deg);
    }
}

@keyframes sway2 {
    from {
        transform: translateX(200px) rotate(-45deg);
    }

    to {
        transform: translateX(0px) rotate(0deg);
    }
}

.sakura li:nth-child(1) {
    left: 0%;
    width: 24px;
    height: 15px;
    animation: fall 10s linear infinite,
        sway1 3s ease-in-out infinite alternate;
    animation-delay: 2s;
}

.sakura li:nth-child(2) {
    left: 5%;
    width: 13px;
    height: 9px;
    animation: fall 15s linear infinite,
        sway1 2s ease-in-out infinite alternate;
    animation-delay: 8s;
}

.sakura li:nth-child(3) {
    left: 15%;
    width: 16px;
    height: 10px;
    animation: fall 9s linear infinite,
        sway1 3.5s ease-in-out infinite alternate;
    animation-delay: 13s;
}

.sakura li:nth-child(4) {
    left: 30%;
    width: 16px;
    height: 10px;
    animation: fall 8s linear infinite,
        sway2 4s ease-in-out infinite alternate;
    animation-delay: 7s;
}

.sakura li:nth-child(5) {
    left: 40%;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
        sway1 4s ease-in-out infinite alternate;
    animation-delay: 0s;
}

.sakura li:nth-child(6) {
    left: 55%;
    width: 24px;
    height: 15px;
    animation: fall 11s linear infinite,
        sway2 3s ease-in-out infinite alternate;
    animation-delay: 3s;
}

.sakura li:nth-child(7) {
    left: 65%;
    width: 16px;
    height: 10px;
    animation: fall 7s linear infinite,
        sway2 3.5s ease-in-out infinite alternate;
    animation-delay: 7s;
}

.sakura li:nth-child(8) {
    left: 50%;
    width: 13px;
    height: 9px;
    animation: fall 7s linear infinite,
        sway1 3s ease-in-out infinite alternate;
    animation-delay: 3s;
}

.sakura li:nth-child(9) {
    left: 80%;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
        sway2 4s ease-in-out infinite alternate;
    animation-delay: 4s;
}