<section class="landing_page">
  <h1><img src="../../../assets/images/logo.png" alt="Samurai's Cars logo"></h1>
  <div id="landingPg_cards">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.O2iROD7xW4tpPwvF2Bdk6gHaD6?rs=1&pid=ImgDetMain" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
          Welcome to Samurai's Cars, your one-stop destination for all your vehicle needs. Our website offers a wide
          range of vehicles for sale, from bikes to powerful tractors. We provide a platform for owners to advertise
          their vehicles by signing up on our website. Our user-friendly interface makes it easy to browse through our
          inventory and find the perfect car for you.
        </p>
      </div>
      <div class="card-footer">
        <div class="btns_container">
          <a routerLink="home">
            <button type="button" class="btn btn-outline-dark">Go to vehicles</button>
          </a>
        </div>
      </div>
    </div>


    <div class="card">
      <img src="../../../assets/images/swagger.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">API Documentation</h5>
        <p class="card-text">For a deeper understanding of the application's functionalities, consult the
          comprehensive Swagger API documentation. It provides detailed information about the API's available
          endpoints, methods, resources, authentication protocols, parameters, and headers, as well as examples of
          common requests and responses.</p>
      </div>
      <div class="card-footer">
        <div class="btns_container">
          <a [href]="apiDocUrl" target="_blank">
            <button type="button" class="btn btn-outline-dark">Go to Swagger API documentation</button>
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/9513/9513542.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Roles and Access</h5>
        <p class="card-text">
          The application has two roles for logged users: USER and ADMIN.
        </p>
        <ul>
          <li>A USER can add and manage vehicles and access messages sent to them.</li>
          <li>An ADMIN can do the same, and also manage USERs' vehicles if needed. In the future, an ADMIN will also be able to manage USERs directly.</li>
        </ul>
        <small>To access as a USER, an ADMIN, or to register a new account, click the corresponding button
          below.</small>
      </div>
      <div class="card-footer">
        <div class="btns_container">
          <button type="button" class="btn btn-outline-dark" (click)="onAdminClick()">ADMIN</button>
          <button type="button" class="btn btn-outline-dark" (click)="onUserClick()">USER</button>
          <a href="login/register">
            <button type="button" class="btn btn-outline-dark">REGISTER</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <ul class="sakura">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>