.vehicle_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.table_container {
    text-align: center;
    margin-right: 10vw;
}

.featured {
    display: flex;
    width: fit-content;
    min-height: 100%;
}


@media screen and (max-width: 1200px) {
    .vehicle_section {
        flex-direction: column-reverse;
        gap: 0.5rem;
    }
}

