<div class="cards_container">
  <div class="card" style="width: 18rem;" *ngFor="let content of vehicleData">
    <img [src]="content.pictures[0]" [alt]="content.vehicle.name" class="card-img-top thumbnail">
    <div class="card-body">
      <h5 class="card-title">{{ content.vehicle.name }}</h5>

      <table class="table table-bordered">
        <thead>
          <th>Model</th>
          <th>Year</th>
          <th>Since</th>
        </thead>
        <tbody>
          <td> {{content.vehicle.model}}</td>
          <td> {{content.vehicle.year}}</td>
          <td> {{content.vehicle.created_at | date}}</td>
        </tbody>
        <tfoot>
          <td colspan="3" class="price">{{content.vehicle.price | currency:'BRL':true}}</td>
        </tfoot>
      </table>

      <div>
        <button type="button" class="btn btn-outline-dark btn-contact" *ngIf="showContacButton" (click)="onContactClick(content)">
          <img width="23" height="23px" src="https://img.icons8.com/pulsar-line/23/filled-chat.png" alt="filled-chat"/>
        </button>
        <button class="btn btn-link" type="button"
          (click)="onSeeMoreClick(content.vehicle.id)"
        >See More</button>
      </div>
    </div>
  </div>
</div>
