<div class="loading-content">
    <button class="btn btn-info" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Loading...</span>
    </button>
    <button class="btn btn-info" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Loading...</span>
    </button>
    <button class="btn btn-info fs-2" type="button" disabled>
        <span>
            Connecting to the server... The initial connection usually takes between 1-3 minutes. Thanks for your patience!
        </span>
    </button>
    <button class="btn btn-info" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Loading...</span>
    </button>
    <button class="btn btn-info" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Loading...</span>
    </button>
</div>