.actions_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;
}

/* CSS */
.button {
  font-size: 1,5rem;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 5px 10px 5px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.397);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

