#delete-modal {
    width: fit-content;
    border-color: transparent;
    padding: 0;
    background-color: transparent;
}

.delete-modal {
    border: black solid 1px;
    background-image    : linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}