<section class="login-section">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-lg p-4">
                    <div class="text-center mb-3">
                        <a href="#!">
                            <img src="../../../assets/images/logo.png" alt="Samurai's Cars logo" height="57">
                        </a>
                    </div>
                    <ng-component *ngIf="toggleForm then logIn; else signIn"></ng-component>
                </div>
            </div>
        </div>
    </div>

    <ul class="sakura">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</section>


<ng-template #logIn>
    <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Sign in to your account</h2>
    <div *ngIf="formLogin.hasError" >
        <div class="alert alert-warning" role="alert" *ngFor="let item of formLogin.errors| keyvalue">
            <span>{{ item.value }}</span>
        </div>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
        <div class="row gy-2 overflow-hidden">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control"
                        id="email" placeholder="name@example.com">
                    <label for="email" class="form-label">Email</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control"
                        name="password" id="password" value="" placeholder="Password" required>
                    <label for="password" class="form-label">Password</label>
                </div>
            </div>

            <div class="col-12">
                <div class="d-grid my-3">
                    <button [disabled]="formLogin.invalid" class="btn btn-primary btn-lg" type="submit">Log in</button>
                </div>
            </div>
            <div class="col-12">
                <p class="m-0 text-secondary text-center">Don't have an account? <a
                        (click)="toggleForm = false"
                        class="link-primary text-decoration-none">Sign up</a></p>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #signIn>
    <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Create a new account</h2>
    <div *ngIf="formRegister.hasError" >
        <div class="alert alert-warning" role="alert" *ngFor="let item of formRegister.errors| keyvalue">
            <span>{{ item.value }}</span>
        </div>
    </div>
    <form [formGroup]="formRegister" (ngSubmit)="onSubmitSignUp()">
        <div class="row gy-2 overflow-hidden">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input formControlName="name" type="text" class="form-control"
                        name="name" id="name" required>
                    <label for="email" class="form-label">Your Business' Name</label>
                </div>
                <div *ngIf="formRegister.controls['name'].touched && formRegister.controls['name'].invalid" class="alert alert-warning" role="alert">
                    <span *ngIf="formRegister.controls['name'].errors!['required']">Business' name cannot be empty</span>
                    <span *ngIf="formRegister.controls['name'].errors!['minlength']">Name must be at least 2 characters long</span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control"
                        name="email" id="email" placeholder="name@example.com" required>
                    <label for="email" class="form-label">Email</label>
                </div>
                <div *ngIf="formRegister.controls['email'].touched && formRegister.controls['email'].invalid" class="alert alert-warning" role="alert">
                    <span *ngIf="formRegister.controls['email'].errors!['required']">Email cannot be empty</span>
                    <span *ngIf="formRegister.controls['email'].errors!['email']">Email must be well formated</span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control"
                        name="password" id="password" value="" placeholder="Password" required>
                    <label for="password" class="form-label">Password</label>
                </div>
                <div *ngIf="formRegister.controls['password'].touched && formRegister.controls['password'].invalid" class="alert alert-warning" role="alert">
                    <span *ngIf="formRegister.controls['password'].errors!['required']">Password cannot be empty</span>
                    <span *ngIf="formRegister.controls['password'].errors!['minlength']">Password must be at 5 least characters long</span>
                </div>
            </div>

            <div class="col-12">
                <div class="d-grid my-3">
                    <button [disabled]="formRegister.invalid" class="btn btn-success btn-lg" type="submit">Sign up</button>
                </div>
            </div>
            <div class="col-12">
                <p class="m-0 text-secondary text-center">Already have an account? <a
                        (click)="toggleForm = true"
                        class="link-primary text-decoration-none">log in</a></p>
            </div>
        </div>
    </form>
</ng-template>