<section class="home" *ngIf="!loadingData else loading">

    <div class="vehicle_catalogue">
        <div class="actions">
            <div class="sort-options">

                <div>
                    <select class="form-select form-select-lg mb-3" #select (change)="orderVehicleBy(select)">
                        <option selected hidden>Order by</option>
                        <option value="name">name</option>
                        <option value="price">price</option>
                        <option value="year">year</option>
                        <option value="createdAt">upload</option>
                    </select>
                </div>

                <div>
                    <select class="form-select form-select-lg mb-3" #selectBrand (change)="filterBrand(selectBrand)">
                        <option selected hidden>Brand</option>
                        <option [value]="brand" *ngFor="let brand of brands">{{ brand }}</option>
                    </select>
                </div>

                <div>
                    <select class="form-select form-select-lg mb-3" #selectYear (change)="filterYear(selectYear)">
                        <option selected hidden>Year</option>
                        <option [value]="year" *ngFor="let year of years">{{ year }}</option>
                    </select>
                </div>

                <div class="input_container">
                    <input id="nameInput" class="form-control" style="width: 67%; margin: auto;" type="search" placeholder="Search"aria-label="Search"
                        (keydown.enter)="searchByName()">
                    <span class="input-group-text" (click)="searchByName()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
                            </path>
                        </svg>
                    </span>
                </div>

                <div *ngIf="isFilterApplied()">
                    <button class="btn btn-secondary">Clear filters</button>
                </div>
            </div>
        </div>

        <vehicle-card [vehicleData]="vehiclePage.content"(contactSellerEmitter)="onContactSeller($event)"></vehicle-card>
        
    </div>
    <app-pageable *ngIf="vehiclePage.totalPages > 1" [currentPage]="vehiclePage.number"
        [totalPages]="vehiclePage.totalPages" (changePageEmmiter)="onChangePage($event)">
    </app-pageable>
</section>

<dialog id="form_modal">
    <app-contact-form (onCloseModalEmmiter)="onCloseModal()" [vehicle]="vehicleTobeContacted"></app-contact-form>
</dialog>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>