<section class="home" *ngIf="!loadingData else loading">

    <div class="vehicle_catalogue">
        <div class="actions">
            <div class="sort-options">
  
                <div>
                    <select class="form-select form-select-lg mb-3" #select (change)="orderVehicleBy(select)">
                        <option selected hidden>Order by</option>
                        <option value="name">name</option>
                        <option value="price">price</option>
                        <option value="year">year</option>
                        <option value="createdAt">upload</option>
                    </select>
                </div>

                <div>
                    <select class="form-select form-select-lg mb-3" #selectBrand (change)="filterBrand(selectBrand)">
                        <option selected hidden>Brand</option>
                        <option [value]="brand" *ngFor="let brand of brands">{{ brand }}</option>
                    </select>
                </div>

                <div>
                    <select class="form-select form-select-lg mb-3" #selectYear (change)="filterYear(selectYear)">
                        <option selected hidden>Year</option>
                        <option [value]="year" *ngFor="let year of years">{{ year }}</option>
                    </select>
                </div>

                <div>
                    <form  role="search">
                        <input class="form-control" style="width: 90%; margin: auto;" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>

            </div>

        </div>
        <vehicle-card [vehicleData]="vehiclePage.content" (contactSellerEmitter)="onContactSeller($event)"></vehicle-card>
    </div>
    <app-pageable *ngIf="vehiclePage.totalPages > 1"
        [currentPage]="vehiclePage.number" 
        [totalPages]="vehiclePage.totalPages"
        (changePageEmmiter)="onChangePage($event)">
    </app-pageable>
</section>

<dialog id="form_modal">
    <app-contact-form (onCloseModalEmmiter)="onCloseModal()" [vehicle]="vehicleTobeContacted"></app-contact-form>
</dialog>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>