<footer class="bg-body-tertiary text-center footer_container">
    <div class="container">
        <div>
            <a href="https://github.com/wesley-brwno" target="_blank">
              <img width="50" height="50" src="https://img.icons8.com/bubbles/50/github.png" alt="github"/>
            </a>
            <a href="https://www.linkedin.com/in/wesley-brwno/" target="_blank">
              <img width="50" height="50" src="https://img.icons8.com/bubbles/50/linkedin.png" alt="linkedin"/>
            </a>
          </div>
    </div>

    <div class="text-center p-3 copyright-div" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; {{ year }} Copyright:
        <a class="text-body" href="#">Samurai's Cars</a>
    </div>
</footer>